$iconSize: 20px;

.basket {
  position: absolute;
  right: 20px;
  background-image: url("../img/icons/icon-basket.svg");
  width: $iconSize;
  height: $iconSize;
  background-color: transparent;
  background-size: contain;
  border: none;
  top: calc(50% - #{$iconSize} / 2);
  &--has-items {
    &:after {
      content: attr(data-attribute);
      position: absolute;
      right: -4px;
      bottom: -4px;
      background-color: $red;
      border-radius: 6px;
      color: $white;
      font-size: 10px;
      line-height: 1;
      padding: 1px 3px;
    }
  }
}
