.button {
  border: none;
  border-radius: 8px;
  padding: 15px 50px;
  font-size: 16px;
  transition: all ease-in-out 0.3s;
  &--filled {
    background-color: $ocean-green;
    color: $white;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
