.cart-item {
  background-color: lighten($mine-shaft, 10);
  display: flex;
  &:last-of-type {
    border-bottom: none;
  }
  &__image {
    width: 48px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
  }
  &__info {
    padding: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;
  }
  &__name,
  &__price,
  &__counter button {
    font-size: 14px;
  }
  &__name {
    margin-bottom: 5px;
    color: $white;
    font-weight: 400;
  }
  &__price {
    color: $ocean-green;
    font-weight: 600;
  }
  &__counter {
    margin-left: auto;
    padding: 0 20px;
    flex-shrink: 0;
    justify-content: flex-end;
    align-self: center;
    button,
    span {
      color: $white;
      font-weight: 600;
    }
    button {
      background-color: lighten($mine-shaft, 20);
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      transition: background-color ease-in-out 0.2s;
      &:hover {
        background-color: $ocean-green;
      }
    }
    span {
      padding: 0 10px;
    }
  }
}
