$cartMaxWidthDesktop: 460px;
$cartMaxWidthMobile: 90%;
.cart {
  &__container {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: $cartMaxWidthDesktop;
    right: -#{$cartMaxWidthDesktop};
    padding-top: 70px;
    background-color: $mine-shaft;
    transition: right ease-in-out 0.3s;
    overflow: auto;
    user-select: none;
    @include phablet {
      max-width: $cartMaxWidthMobile;
      right: -#{$cartMaxWidthMobile};
    }
    &--is-visible {
      right: 0;
    }
  }
  &__opacity {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
  &__title {
    color: $white;
    margin-bottom: 30px;
  }
  &__empty {
    color: $white;
    text-align: center;
  }
  &__delivery,
  &__total {
    font-size: 14px;
  }
  &__delivery {
    color: $white;
    padding-left: 48px;
    min-height: 60px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px $black;
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: left 14px center;
    background-image: url("../img/icons/icon-delivery.svg");
    margin-bottom: 35px;
    span {
      margin-left: 6px;
      font-weight: 600;
    }
  }
  &__results {
    text-align: center;
    color: $white;
  }
  &__total {
    margin-bottom: 20px;
  }
  &__sum {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 44px;
  }
  &__button {
    margin: auto;
    display: block;
  }
}
