$itemMargin: 6%;

.product-tease {
  // 3 items per row, minus the 2 margin right divided evenly for all 3 items
  width: calc(100% / 3 - #{$itemMargin} * 2 / 3);
  margin-right: $itemMargin;
  margin-bottom: $itemMargin;
  &:nth-of-type(3n + 3) {
    margin-right: 0;
  }
  @include phablet {
    width: calc(100% / 2 - #{$itemMargin} / 2);
    &:nth-of-type(3n + 3) {
      margin-right: $itemMargin;
    }
    &:nth-of-type(2n + 2) {
      margin-right: 0;
    }
  }
  @include mobile {
    width: 100%;
    margin-right: 0;
    &:nth-of-type(3n + 3) {
      margin-right: 0;
    }
  }
  &__image {
    width: 100%;
  }
  &__container {
    display: flex;
  }
  &__info {
    padding: 8px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  &__name,
  &__price {
    font-size: 14px;
    font-weight: 600;
    margin-left: auto;
  }
  &__name {
    margin-bottom: 5px;
  }
  &__price {
    color: $ocean-green;
  }
  &__basket {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background-color: $black;
    border: none;
    margin-left: auto;
    background-image: url("../img/icons/icon-basket.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color ease-in-out 0.2s;
    &:hover {
      background-color: $ocean-green;
    }
  }
}
