@keyframes productSlide {
  0% {
    width: 50px;
    height: 70px;
    right: 6px;
    top: 50px;
    opacity: 0;
  }
  70% {
    opacity: 1;
    width: 50px;
    height: 70px;
    right: 6px;
    top: 50px;
  }
  100% {
    opacity: 0;
    right: 25px;
    top: 30px;
    width: 5px;
    height: 5px;
  }
}
