// Media queries
@mixin mobile {
  @media (max-width: 450px){
     @content;
 }
}
@mixin phablet {
 @media (max-width: 650px){
    @content;
}
}
@mixin tablet {
  @media (max-width: 768px){
     @content;
 }
}
@mixin laptop {
  @media (max-width: 1024px){
     @content;
 }
}
@mixin desktop {
  @media (max-width: 1280px){
     @content;
 }
}

// User select
@mixin user-select {
 cursor: pointer;
 user-select: none;
}
