a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
button:focus,
input,
input:focus,
select,
select:focus,
textarea,
textarea:focus {
  appearance: none;
  outline: none;
}

input[type="checkbox"],
input[type="radio"] {
  outline: none;
  border: none;
}

input[type="checkbox"] {
  appearance: checkbox;
}

input[type="radio"] {
  appearance: radio;
}

a,
a:visited,
a:focus,
a:active,
a:hover,
a,
button:visited,
button:focus,
button:active,
button:hover {
  outline: none;
}

button,
select {
  cursor: pointer;
}
select,
input {
  border-radius: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

li,
ul {
  list-style-type: none;
}
